In [1]:
import pandas as pd

data = {
    "State": [
        "Hawaii", "Alabama", "Colorado", "Louisiana", "District of Columbia",
        "South Carolina", "Delaware", "West Virginia", "Nevada", "Wyoming",
        "Arkansas", "Utah", "Arizona", "Idaho", "Tennessee", "California",
        "New Mexico", "Mississippi", "Virginia", "Montana", "North Carolina",
        "Indiana", "Kentucky", "Florida", "Oklahoma", "Georgia", "Missouri",
        "Oregon", "North Dakota", "Washington", "Maryland", "Minnesota",
        "Alaska", "Massachusetts", "South Dakota", "Maine", "Kansas", "Michigan",
        "Ohio", "Iowa", "Pennsylvania", "Rhode Island", "New York", "Nebraska",
        "Texas", "Wisconsin", "Vermont", "Connecticut", "New Hampshire",
        "Illinois", "New Jersey"
    ],
    "Real Estate Tax Rate": [
        0.28, 0.41, 0.51, 0.55, 0.56, 0.57, 0.57, 0.58, 0.60, 0.61, 0.62, 0.63,
        0.66, 0.69, 0.71, 0.76, 0.80, 0.81, 0.82, 0.84, 0.84, 0.85, 0.86, 0.89,
        0.90, 0.92, 0.97, 0.97, 0.98, 0.98, 1.09, 1.12, 1.19, 1.23, 1.31, 1.36,
        1.41, 1.54, 1.56, 1.57, 1.58, 1.63, 1.72, 1.73, 1.80, 1.85, 1.90, 2.14,
        2.18, 2.27, 2.49
    ]
}

df = pd.DataFrame(data)
print(df)

/home/yoh010/.local/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/home/yoh010/.local/lib/python3.9/site-packages/pandas/core/arrays/masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

                   State  Real Estate Tax Rate
0                 Hawaii                  0.28
1                Alabama                  0.41
2               Colorado                  0.51
3              Louisiana                  0.55
4   District of Columbia                  0.56
5         South Carolina                  0.57
6               Delaware                  0.57
7          West Virginia                  0.58
8                 Nevada                  0.60
9                Wyoming                  0.61
10              Arkansas                  0.62
11                  Utah                  0.63
12               Arizona                  0.66
13                 Idaho                  0.69
14             Tennessee                  0.71
15            California                  0.76
16            New Mexico                  0.80
17           Mississippi                  0.81
18              Virginia                  0.82
19               Montana                  0.84
20        North Carolina                  0.84
21               Indiana                  0.85
22              Kentucky                  0.86
23               Florida                  0.89
24              Oklahoma                  0.90
25               Georgia                  0.92
26              Missouri                  0.97
27                Oregon                  0.97
28          North Dakota                  0.98
29            Washington                  0.98
30              Maryland                  1.09
31             Minnesota                  1.12
32                Alaska                  1.19
33         Massachusetts                  1.23
34          South Dakota                  1.31
35                 Maine                  1.36
36                Kansas                  1.41
37              Michigan                  1.54
38                  Ohio                  1.56
39                  Iowa                  1.57
40          Pennsylvania                  1.58
41          Rhode Island                  1.63
42              New York                  1.72
43              Nebraska                  1.73
44                 Texas                  1.80
45             Wisconsin                  1.85
46               Vermont                  1.90
47           Connecticut                  2.14
48         New Hampshire                  2.18
49              Illinois                  2.27
50            New Jersey                  2.49

In [2]:
df = df.sort_values(by='State').reset_index(drop=True)
df

                   State  Real Estate Tax Rate
0                Alabama                  0.41
1                 Alaska                  1.19
2                Arizona                  0.66
3               Arkansas                  0.62
4             California                  0.76
5               Colorado                  0.51
6            Connecticut                  2.14
7               Delaware                  0.57
8   District of Columbia                  0.56
9                Florida                  0.89
10               Georgia                  0.92
11                Hawaii                  0.28
12                 Idaho                  0.69
13              Illinois                  2.27
14               Indiana                  0.85
15                  Iowa                  1.57
16                Kansas                  1.41
17              Kentucky                  0.86
18             Louisiana                  0.55
19                 Maine                  1.36
20              Maryland                  1.09
21         Massachusetts                  1.23
22              Michigan                  1.54
23             Minnesota                  1.12
24           Mississippi                  0.81
25              Missouri                  0.97
26               Montana                  0.84
27              Nebraska                  1.73
28                Nevada                  0.60
29         New Hampshire                  2.18
30            New Jersey                  2.49
31            New Mexico                  0.80
32              New York                  1.72
33        North Carolina                  0.84
34          North Dakota                  0.98
35                  Ohio                  1.56
36              Oklahoma                  0.90
37                Oregon                  0.97
38          Pennsylvania                  1.58
39          Rhode Island                  1.63
40        South Carolina                  0.57
41          South Dakota                  1.31
42             Tennessee                  0.71
43                 Texas                  1.80
44                  Utah                  0.63
45               Vermont                  1.90
46              Virginia                  0.82
47            Washington                  0.98
48         West Virginia                  0.58
49             Wisconsin                  1.85
50               Wyoming                  0.61

In [3]:
df.to_csv('real_estate_tax.csv', index=False)